# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
ai/
data.py
gallery.py
gallery_2.py
gallery_3.py
gallery_single_test.py
gallery_2_single_test.py
gallery_3_single_test.py
gallery_average_test.py
gallery_2_average_test.py  
gallery_3_average_test.py
API_DIAGRAMS.md

~$68-GG-DEV-PROJECT_NAME.docx
CE68-GG-DEV-PROJECT_NAME.docx

generate_doc_thai.py
generate_doc.py

gallery_data/
gallery_data_2/
gallery_data_2_2/
gallery_data_3/

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/

# Environment variables
.env
.env.local

# Logs
*.log

# Database
*.db
*.sqlite


/app/ai/
